@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome! Are you also a Sunday handyman who needs tools ?  </h1>
    <p>On this site you can reserve tools in shared workshops ! </p>
    <h2><a asp-area="Customer" asp-controller="Booking">Find a workshop.</a></h2>
</div>
